<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="internet, provedora de internet, Salvador, fibra óptica">
  <meta name="description" content="Fiber Fast Telecom é uma provedora de internet em Salvador-BA">
  <meta name="author" content="Mateus Fernandes">
  <link rel="shortcut icon" href="/img/wifi.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsividade.css">
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://kit.fontawesome.com/8b299f3b3f.js" crossorigin="anonymous"></script>
  <title>Fiber Fast Telecom</title>
</head>

<header>
  <nav id="menuItens">
    <a href="/"><img src="https://fiberfasttelecom.com.br/site/wp-content/uploads/2019/03/Design-sem-nome-300x138.png"
        alt="logo Fiber" class="logo"></a>
    <ul>
      <li><a href="/" id="inicio-link">Início</a></li>
      <li><a href="/sobre" id="sobre-link">Sobre</a></li>
      <li><a href="/planos" id="planos-link">Planos</a></li>
      <li><a href="/contato" id="contato-link">Contato</a></li>
      <li><a href="https://ixc.fiberfasttelecom.com.br/central_assinante_web/login" id="login-link">Central do
          Assinante</a></li>
    </ul>
    <a href="https://wa.link/xuebao" class="whatsapp-btn" target="_blank">Entrar em contato</a>
    <div class="hamburguer">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>

<body>
  <main>
    {{{body}}}
    <button onclick="topFunction()" id="btnTop" title="Voltar ao Topo"><i class="fa-solid fa-arrow-up"></i></button>
    <a href="https://wa.link/xuebao" class="whatsapp-fixed" target="_blank" style="text-decoration: none;"><i
        class="fa-brands fa-whatsapp"></i></a>
  </main>

  <footer>
    <section class="footer-container">
      <section class="footer-logo">
        <img src="https://fiberfasttelecom.com.br/site/wp-content/uploads/2019/03/Design-sem-nome-300x138.png"
          alt="logo fiber" width="200px">
      </section>
      <section class="btn-social">
        <a href="https://www.instagram.com/fiber_fasttelecom/?igsh=a3FkaWY0OGFzdmJn" target="_blank"
          class="btn-instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://wa.link/xuebao" target="_blank" class="btn-whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
      </section>
      
    </section>
    <p>&copy;2024 Fiber Fast Telecom. Todos os direitos reservados. CNPJ 28.731.653/0001-60 </p>
    <p class="footer-dev">Desenvolvido por <a href="https://github.com/Mateusveloso26">MF</a></p>
  </footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/js/script.js"></script>

</html>