<section class='slider'>
  <div class='swiper'>
    <!-- Additional required wrapper -->
    <div class='swiper-wrapper'>
      <!-- Slides -->
      <div class="swiper-slide"><img src="/img/1.png" alt="banner 1"></div>
      <div class='swiper-slide'><img src='/img/2.png' alt='banner 2'></div>
      <div class='swiper-slide'><img src='/img/3.png' alt='banner 2'></div>


    </div>
    <!-- If we need pagination -->
    <div class='swiper-pagination'></div>


    <!-- If we need scrollbar -->
    <div class='swiper-scrollbar'></div>
  </div>
</section>

<section class="planos">
  <h1 class="titulo">Conheça nossos planos</h1>
  <p class="subtitulo">
    Confira os melhores planos de Internet para sua residência.
  </p>
  <section class="container-planos">
    <section class="container-planos-top animacao">
      <section class="card-planos card-1">
        <h4>fibra óptica <br /> <sup>R$</sup> 70,00/mês</h4>
        <h2>25</h2>
        <h3>MEGA</h3>
        <hr class="linha" />
        <p>Assinatura inclusa</p>
        <a href="https://www.digilivro.com.br/" target="_blank" rel="noopener noreferrer">
          <img src="/img/logo-DigiLivro.png" alt="logo DigiLivro" class="logo-livro" />
        </a>
        <a href="https://wa.link/xuebao" target="_blank" rel="noopener noreferrer" class="btn-planos">Assine Já</a>
      </section>

      <section class="card-planos card-2">
        <h4>fibra óptica <br /> <sup>R$</sup> 99,90/mês</h4>
        <h2>100</h2>
        <h3>MEGA</h3>
        <hr class="linha" />
        <p>Assinatura inclusa</p>
        <a href="https://www.digilivro.com.br/" target="_blank" rel="noopener noreferrer">
          <img src="/img/logo-DigiLivro.png" alt="logo DigiLivro" class="logo-livro" />
        </a>
        <a href="https://wa.link/xuebao" target="_blank" rel="noopener noreferrer" class="btn-planos">Assine Já</a>
      </section>

      <section class="card-planos card-3">
        <span> </span>
        <h4>fibra óptica <br /> <sup>R$</sup> 79,90/mês</h4>
        <h2>150</h2>
        <h3>MEGA</h3>
        <hr class="linha" />
        <p>Assinatura inclusa</p>
        <a href="https://www.digilivro.com.br/" target="_blank" rel="noopener noreferrer">
          <img src="/img/logo-DigiLivro.png" alt="logo DigiLivro" class="logo-livro" />
        </a>
        <a href="https://wa.link/xuebao" target="_blank" rel="noopener noreferrer" class="btn-planos">Assine Já</a>
      </section>
    </section>
    <section class="container-planos-bottom animacao">
      <section class="card-planos card-4">
        <h4>fibra óptica <br /><sup>R$</sup> 119,20/mês</h4>
        <h2>200</h2>
        <h3>MEGA</h3>
        <hr class="linha" />
        <p>Assinatura inclusa</p>
        <a href="https://www.digilivro.com.br/" target="_blank" rel="noopener noreferrer">
          <img src="/img/logo-DigiLivro.png" alt="logo DigiLivro" class="logo-livro" />
        </a>
        <a href="https://wa.link/xuebao" target="_blank" rel="noopener noreferrer" class="btn-planos">Assine Já</a>
      </section>

      <section class="card-planos card-5">
        <h4>fibra óptica <br /> <sup>R$</sup> 129,90/mês</h4>
        <h2>250</h2>
        <h3>MEGA</h3>
        <hr class="linha" />
        <p>Assinatura inclusa</p>
        <a href="https://www.digilivro.com.br/" target="_blank" rel="noopener noreferrer">
          <img src="/img/logo-DigiLivro.png" alt="logo DigiLivro" class="logo-livro" />
        </a>
        <a href="https://wa.link/xuebao" target="_blank" rel="noopener noreferrer" class="btn-planos">Assine Já</a>
      </section>

      <section class="card-planos card-6">
        <h4>fibra óptica <br /> <sup>R$</sup> 139,90/mês</h4>
        <h2>300</h2>
        <h3>MEGA</h3>
        <hr class="linha" />
        <p>Assinatura inclusa</p>
        <a href="https://www.digilivro.com.br/" target="_blank" rel="noopener noreferrer">
          <img src="/img/logo-DigiLivro.png" alt="logo DigiLivro" class="logo-livro" />
        </a>
        <a href="https://wa.link/xuebao" target="_blank" rel="noopener noreferrer" class="btn-planos">Assine Já</a>
      </section>
    </section>
  </section>
</section>

<hr />
<section class="painel1">
  <p>ASSINE UM PLANO AGORA MESMO ! </p>
</section>

<section class='vantagens '>
  <h1 class='titulo titulo-mobile' style="color:#fff">Vantagens de ser Fiber</h1>
  <p class='subtitulo subtitulo-mobile' style="color:#fff">Oferecemos velocidades ultrarrápidas, estabilidade
    garantida e suporte 24/7, tudo a preços competitivos.
    <br />
    Conte conosco para uma experiência de internet sem igual!
  </p>
  <section class='container animacao '>
    <section class='card-vantagens cardVtg-1'>
      <i class='fa-solid fa-money-bill'></i>
      <p>Custo benefício</p>
    </section>

    <section class='card-vantagens cardVtg-2'>
      <i class='fa-solid fa-wifi'></i>
      <p>Fibra óptica</p>
    </section>

    <section class='card-vantagens cardVtg-3'>
      <i class='fa-solid fa-rocket'></i>
      <p>Instalação imediata</p>
    </section>

    <section class='card-vantagens cardVtg-4'>
      <i class='fa-solid fa-gear'></i>
      <p>Suporte técnico</p>
    </section>
  </section>
</section>
<hr />
<section class="painel2">
  <section class="painel2-img  minha-animacao">
    <img src="/img/painel.png" alt="familia assistindo">
  </section>
  <section class="texto-painel2  minha-animacao">
    <h1>Assista, jogue e compartilhe com a melhor conexão!</h1>
    <p>Desfrute da melhor experiência de conexão com nossa internet de alta velocidade. Conecte simultaneamente seu
      celular, tablet, Smart TV e notebook sem restrições de downloads. Tenha Wi-Fi grátis tanto em casa quanto no
      trabalho, pagando apenas o que contratou, sem surpresas desagradáveis. Aproveite a liberdade e a qualidade que
      você merece.</p>
  </section>
</section>
<hr>
<section class="contato">
  <h1 class="titulo">Precisa de ajuda? Fale conosco!</h1>

  <section class="container-contato">

    <section class="contato-form">
      <h2>Entre em Contato</h2>
      <form action="/contato" method="POST" id="form">
        <input type="text" id="nome" name="nome" placeholder="Seu Nome" required>
        <input type="email" id="email" name="email" placeholder="Seu Email" required>
        <input type="tel" id="telefone" name="telefone" placeholder="Seu Telefone" required>
        <textarea id="mensagem" name="mensagem" placeholder="Sua Mensagem" rows="5" required></textarea>

        <button type="submit" value="Enviar" class='btn-form' id="btn-form">Enviar</button>
      </form>
    </section>

    <section class="meios-contato">
      <h2>Meios de Contato</h2>
      <p><strong>Email:</strong> <a href="mailto:contato@fiberfasttelecom.com.br">contato@fiberfasttelecom.com.br</a>
      </p>
      <p><strong>Telefone:</strong> <a href="tel:+5571992613799"> Mussurunga: (71) 99261-3799</a></p>
      <p><strong>Telefone:</strong> <a href="tel:+557140423080">Central Fixo: (71) 4042-3080</a></p>
      <p><strong>Horário de Funcionamento:</strong> Seg-Sex: 8h-18h <br>Sáb e Feriado 8h-13h</p>
    </section>
  </section>

</section>

<hr>
<section class='duvidas'>
  <h1 class='titulo'>Dúvidas Frequentes</h1>
  <section class='container'>
    <section class='dv-lista'>

      <details open name="panel">
        <summary>Quais são os métodos de pagamento aceitos ?</summary>
        <hr>
        <p>Aceitamos uma variedade de métodos de pagamento para sua conveniência, incluindo cartões de crédito/débito
          (Visa, Mastercard, etc.), transferência bancária e boleto bancário. Entre em contato conosco para obter mais
          detalhes sobre as opções disponíveis.</p>
      </details>

      <details name="panel">
        <summary>Vocês oferecem suporte técnico em caso de problemas com a conexão ?</summary>
        <hr>
        <p>Sim, nossa equipe de suporte técnico está disponível para ajudá-lo com quaisquer problemas ou dúvidas
          relacionadas à sua conexão com a internet. Você pode nos contatar por telefone, e-mail ou através do nosso
          site para obter assistência técnica. Estamos comprometidos em garantir que você tenha uma experiência de
          internet tranquila e sem problemas.</p>
      </details>

      <details name="panel">
        <summary>Existe algum limite de dados em meus planos de internet ?</summary>
        <hr>
        <p>A maioria de nossos planos de internet é oferecida com uma quantidade generosa de dados mensais, ideal para
          uso doméstico regular. No entanto, alguns planos podem ter limites de dados ou políticas de uso justo.
          Recomendamos verificar os detalhes específicos do seu plano ou entrar em contato conosco para mais informações
          sobre políticas de uso de dados.</p>
      </details>

      <details name="panel">
        <summary>Há taxas adicionais escondidas nos planos ?</summary>
        <hr>
        <p>Não, nós nos esforçamos para manter nossa estrutura de preços transparente e sem taxas ocultas. Todas as
          taxas associadas aos nossos serviços são claramente comunicadas durante o processo de contratação. No entanto,
          é importante notar que podem haver taxas adicionais, como taxas de instalação ou taxas de cancelamento,
          dependendo do plano ou serviço escolhido. Essas taxas são geralmente mencionadas no contrato ou nos termos de
          serviço. Estamos comprometidos em garantir que nossos clientes tenham total transparência sobre os custos
          associados aos nossos serviços. Se tiver alguma dúvida sobre os custos adicionais, não hesite em entrar em
          contato conosco para esclarecimentos adicionais.</p>
      </details>
    </section>
  </section>
</section>