<section class='login'>
  <h1 class='titulo'>Login</h1>
  <section class='container'>
    <form action='/login' method='post' class='form-login'>
      <div class="input-container">
        <i class="fa-solid fa-envelope" style="color: #000000;"></i>
        <input type="email" name="email" id="email-login" placeholder="Informe seu email:" class="input-login">
      </div>

      <div class="input-container">
        <i class="fa-solid fa-lock"></i>
        <input type="password" name="senha" id="senha" placeholder="Informe sua senha:" class="input-login">
      </div>

      <button type='submit' class='btn-login'>Acessar</button>
    </form>
  </section>
</section>