<section class='menu'>
  <h1 class='titulo'>Bem vindo a tela de menu</h1>
  <p class='subtitulo'>Escolha uma opção para realizar</p>
  <section class='container'>
    <section class='serviços'>

      <a class="btn-serviços" href='/cadastrarPlanos'>Cadastrar Planos</a>
      <a class="btn-serviços" href='/cadastrarClientes'>Cadastrar Clientes</a>
      <a class="btn-serviços" href=''> ⚙️ Manutenção</a>

    </section>
  </section>
</section>