<section class="planos pag-planos">
  <h1 class="titulo">Conheça nossos planos</h1>
  <p class="subtitulo">
    Escolha sua conexão ideal: conheça nossos planos de internet. Velocidade, confiabilidade e preço competitivo.
  </p>
  <section class="container-planos">
    <section class="container-planos-top animacao">
      <section class="card-planos card-1">
        <h4>fibra óptica <br /> <sup>R$</sup> 70,00/mês</h4>
        <h2>25</h2>
        <h3>MEGA</h3>
        <hr class="linha" />
        <p>Assinatura inclusa</p>
        <a href="https://www.digilivro.com.br/" target="_blank" rel="noopener noreferrer">
          <img src="/img/logo-DigiLivro.png" alt="logo DigiLivro" class="logo-livro" />
        </a>
        <a href="https://wa.link/xuebao" target="_blank" rel="noopener noreferrer" class="btn-planos">Assine Já</a>
      </section>

      <section class="card-planos card-2">
        <h4>fibra óptica <br /> <sup>R$</sup> 99,90/mês</h4>
        <h2>100</h2>
        <h3>MEGA</h3>
        <hr class="linha" />
        <p>Assinatura inclusa</p>
        <a href="https://www.digilivro.com.br/" target="_blank" rel="noopener noreferrer">
          <img src="/img/logo-DigiLivro.png" alt="logo DigiLivro" class="logo-livro" />
        </a>
        <a href="https://wa.link/xuebao" target="_blank" rel="noopener noreferrer" class="btn-planos">Assine Já</a>
      </section>

      <section class="card-planos card-3">
        <span> </span>
        <h4>fibra óptica <br /> <sup>R$</sup> 79,90/mês</h4>
        <h2>150</h2>
        <h3>MEGA</h3>
        <hr class="linha" />
        <p>Assinatura inclusa</p>
        <a href="https://www.digilivro.com.br/" target="_blank" rel="noopener noreferrer">
          <img src="/img/logo-DigiLivro.png" alt="logo DigiLivro" class="logo-livro" />
        </a>
        <a href="https://wa.link/xuebao" target="_blank" rel="noopener noreferrer" class="btn-planos">Assine Já</a>
      </section>
    </section>
    <section class="container-planos-bottom animacao">
      <section class="card-planos card-4">
        <h4>fibra óptica <br /> <sup>R$</sup> 119,20/mês</h4>
        <h2>200</h2>
        <h3>MEGA</h3>
        <hr class="linha" />
        <p>Assinatura inclusa</p>
        <a href="https://www.digilivro.com.br/" target="_blank" rel="noopener noreferrer">
          <img src="/img/logo-DigiLivro.png" alt="logo DigiLivro" class="logo-livro" />
        </a>
        <a href="https://wa.link/xuebao" target="_blank" rel="noopener noreferrer" class="btn-planos">Assine Já</a>
      </section>

      <section class="card-planos card-5">
        <h4>fibra óptica <br /> <sup>R$</sup> 129,90/mês</h4>
        <h2>250</h2>
        <h3>MEGA</h3>
        <hr class="linha" />
        <p>Assinatura inclusa</p>
        <a href="https://www.digilivro.com.br/" target="_blank" rel="noopener noreferrer">
          <img src="/img/logo-DigiLivro.png" alt="logo DigiLivro" class="logo-livro" />
        </a>
        <a href="https://wa.link/xuebao" target="_blank" rel="noopener noreferrer" class="btn-planos">Assine Já</a>
      </section>

      <section class="card-planos card-6">
        <h4>fibra óptica <br /> <sup>R$</sup> 139,90/mês</h4>
        <h2>300</h2>
        <h3>MEGA</h3>
        <hr class="linha" />
        <p>Assinatura inclusa</p>
        <a href="https://www.digilivro.com.br/" target="_blank" rel="noopener noreferrer">
          <img src="/img/logo-DigiLivro.png" alt="logo DigiLivro" class="logo-livro" />
        </a>
        <a href="https://wa.link/xuebao" target="_blank" rel="noopener noreferrer" class="btn-planos">Assine Já</a>
      </section>

    </section>
  </section>
</section>