<section class='planos minha-animacao'>
  <h1 class='titulo'>Conheça nossos planos</h1>
  <p class='subtitulo'>Escolha sua conexão ideal: conheça nossos planos de
    internet. Velocidade, confiabilidade e preço competitivo.</p>
  <section class='container-planos pag-planos'>

    <section class='card-planos card-1'>
      <h4>fibra óptica <br /> R$ 70,00/mês</h4>
      <h2>100</h2>
      <H3>MEGA</H3>
      <hr />
      <P>Assinatura inclusa</P>
      <a href='https://www.digilivro.com.br/' target='_blank'><img src='/img/logo-DigiLivro.png' alt='logo DigiLivro'
          class='logo-livro' /></a>

      <button class='btn-planos'><a href=''>Assine Ja</a></button>
    </section>

    <section class='card-planos card-2'>
      <h4>fibra óptica <br /> R$ 80,00/mês</h4>
      <h2>150</h2>
      <H3>MEGA</H3>
      <hr />
      <P>Assinatura inclusa</P>
      <a href='https://www.digilivro.com.br/' target='_blank'><img src='/img/logo-DigiLivro.png' alt='logo DigiLivro'
          class='logo-livro' /></a>
      <button class='btn-planos'><a href=''>Assine Já</a></button>
    </section>

    <section class='card-planos card-3'>
      <h4>fibra óptica <br /> R$ 100,00/mês</h4>
      <h2>200</h2>
      <H3>MEGA</H3>
      <hr />
      <P>Assinatura inclusa</P>
      <a href='https://www.digilivro.com.br/' target='_blank'><img src='/img/logo-DigiLivro.png' alt='logo DigiLivro'
          class='logo-livro' /></a>
      <button class='btn-planos'><a href=''>Assine Já</a></button>
    </section>

    <section class='card-planos card-4'>
      <h4>fibra óptica <br /> R$ 120,00/mês</h4>
      <h2>250</h2>
      <H3>MEGA</H3>
      <hr />
      <P>Assinatura inclusa</P>
      <a href='https://www.digilivro.com.br/' target='_blank'><img src='/img/logo-DigiLivro.png' alt='logo DigiLivro'
          class='logo-livro' /></a>
      <button class='btn-planos'><a href=''>Assine Já</a></button>
    </section>
    <section class='card-planos card-5'>
      <h4>fibra óptica <br /> R$ 150,00/mês</h4>
      <h2>300</h2>
      <H3>MEGA</H3>
      <hr />
      <P>Assinatura inclusa</P>
      <a href='https://www.digilivro.com.br/' target='_blank'><img src='/img/logo-DigiLivro.png' alt='logo DigiLivro'
          class='logo-livro' /></a>
      <button class='btn-planos'><a href=''>Assine Já</a></button>
    </section>

    {{#each planos}}
    <section class='card-planos'>
      <h4>fibra óptica <br /> R$ {{this.valor}}/mês </h4>
      <h2>{{this.megas}}</h2>
      <H3>MEGA</H3>
      <hr />
      <p>Assinatura inclusa</p>
      <a href='https://www.digilivro.com.br/' target='_blank'>
        <img class='logo-livro' src='/img/{{this.imagem}}' alt='Imagem do plano' /></a>

      <button class='btn-planos'><a href=''>Assine Já</a></button>
    </section>
    {{/each}}

  </section>
</section>