<section class='sobre'>
  <h1 class='titulo'>Quem Somos </h1>
  <section class='container container-sobre'>

    <section class='sobre-texto'>
      <p>Empresa Provedora de Internet que atua há mais de 10 anos no mercado atendendo
        os bairros na região de Salvador. Oferecemos internet fibra óptica, com
        objetivo de garantir a máxima qualidade na prestação dos serviços,
        prezamos pela segurança dos nossos clientes e colaboradores. Temos como
        uns dos pilares da nossa empresa o suporte rápido e a excelência no
        atendimento como forma de oferecer o nosso melhor trabalho ao cliente.</p>
    </section>

    <section class='sobre-texto'>
      <h3>MISSÃO:</h3>
      <p>Oferecer nossos serviços de internet para os nossos clientes com
        garantia de segurança, qualidade, privacidade, com preços acessíveis.
      </p>
    </section>

    <section class='sobre-texto'>
      <h3>VISÃO:</h3>
      <p>Ser reconhecida com o melhor atendimento da região, que oferece um
        serviço de excelência, inovando e agregando valor aos nossos clientes.
      </p>
    </section>

    <section class='sobre-texto'>
      <h3>VALORES:</h3>
      <ul>
        <li>Ética</li>
        <li>Agilidade</li>
        <li>Empatia</li>
        <li>Inovação</li>
        <li>Transparência e Disponibilidade</li>
      </ul>
    </section>

  </section>
</section>