<section class='sobre'>
  <h1 class='titulo'>Quem Somos</h1>
  <section class='container container-sobre'>

    <article class='sobre-texto'>
      <p>Empresa Provedora de Internet que atua há mais de 10 anos no mercado atendendo
        os bairros na região de Salvador. Oferecemos internet fibra óptica, com
        objetivo de garantir a máxima qualidade na prestação dos serviços,
        prezamos pela segurança dos nossos clientes e colaboradores. Temos como
        uns dos pilares da nossa empresa o suporte rápido e a excelência no
        atendimento como forma de oferecer o nosso melhor trabalho ao cliente.</p>
    </article>

    <article class='sobre-texto'>
      <h2>Missão:</h2>
      <p>Oferecer nossos serviços de internet para os nossos clientes com
        garantia de segurança, qualidade, privacidade, com preços acessíveis.
      </p>
    </article>

    <article class='sobre-texto'>
      <h2>Visão:</h2>
      <p>Ser reconhecida com o melhor atendimento da região, que oferece um
        serviço de excelência, inovando e agregando valor aos nossos clientes.
      </p>
    </article>

    <article class='sobre-texto'>
      <h2>Valores:</h2>
      <ul>
        <li>Ética</li>
        <li>Agilidade</li>
        <li>Empatia</li>
        <li>Inovação</li>
        <li>Transparência e Disponibilidade</li>
      </ul>
    </article>

  </section>
</section>