@media screen and (min-width:360px) and (max-width:640px) {

    .hamburguer {
        display: block;
    }

    nav ul {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 15px;
        border-radius: 0 0 20px 20px;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: ease-in 0.3s;
        background-color: white;
        padding: 20px 0;
    }

    nav ul li {
        margin: 16px 0;
    }

    nav ul.active {
        left: 0;
    }

    .whatsapp-btn {
        display: none;
    }

    /* SOBRE */
    .container-sobre {
        margin: 10px 0;
    }

    .texto-sobre {
        font-size: 16px;
        justify-content: center;
    }

    .swiper img {
        height: 280px;
        width: 100%;
    }

    /* PAINEL 1  */
    .painel1 {
        width: 100%;
        justify-content: center;
    }

    .painel1 p {
        font-size: 16px;
    }

    /* TITULO  E SUBTITULO*/
    .titulo {
        font-size: 24px;
        text-transform: uppercase;
    }

    .subtitulo {
        font-size: 18px;
        margin: 15px 10%
    }

    .card-planos {
        height: auto;
        width: 180px;
    }

    /* VANTAGENS */
    .vantagens {
        background-color: #040c3f;
    }

    .vantagens .titulo-mobile,
    .subtitulo-mobile {
        color: #fff;
    }

    .painel2 {
        flex-direction: column;
        height: auto;
    }

    .painel2 img {
        width: 100%;
    }

    .texto-painel2 {
        margin: -70px 0;
        margin-bottom: 100px;
    }

    .texto-painel2 h1 {
        font-size: 18px;
    }

    .dv-lista details summary {
        width: 350px;
    }

    .dv-lista details p {
        width: 100%;
    }


    .footer-container {
        flex-direction: column;
        justify-content: center;
        gap: 30px;

    }

    .redes-sociais {
        margin-bottom: 20px;
    }

    .socialContainer {
        width: 40px;
        height: 40px;
    }

    footer p {
        flex-direction: column;
        margin-top: 50px;
    }

}
@media screen and (min-width: 14740px) {
    .pag-planos{
        height: 700px;

    }
    .container-planos {
        display: flex;
        justify-content: center;
       
    }
}

@media only screen and (min-width: 1450px) {
    .planos {
      min-height: 700px;
    }
  }

/* Média (641 px a 1.007 px)
Grande (1.008 px e maior) */